<div class="content" >
    <img class="img-product" src="../../../assets/img/shop/product/product.jpg" alt="">

    <div class="product" >

        <div class="titulo">
        Pantalones de dama<br>
        "The Sideswept Dhoti"
        </div>  

            <div class="calificacion">
                <img src="../../../assets/img/shop/product/star.svg">
                <img src="../../../assets/img/shop/product/star.svg">
                <img src="../../../assets/img/shop/product/star.svg">
                <img src="../../../assets/img/shop/product/star.svg">
                <img src="../../../assets/img/shop/product/star.svg"><span>4 de 5</span>
            </div>
            <div class="coste">
                139.99
            </div>
                <!-- seleccion de talla de producto -->
                <!-- <div clas="talla-producto">
                    <div class="talla-span">Tamaño </div>
                    <div class="btn-talla">
                        <button >S</button>
                        <button class="active" >M</button>
                        <button >L</button>
                        <button >XL</button>
                        <button >XXL</button>
                    </div>
                    

                </div> -->
                
                <div class="combo">
                    <div class="combo-span">
                        Tamaño
                    </div>
                    <div class="btn-talla">
                        <button>S</button>
                        <button>M</button>
                        <button>L</button>
                        <button>XL</button>
                        <button>XXL</button>
                    </div>

                </div>
                <!-- Fin seleccion de talla de producto -->
                <div class="combo">
                    <div class="combo-span">
                        Kit
                    </div>
                    <div class="btn-combo">
                        <button>HOME</button>
                        <button>ARRAY</button>
                        <button>THIRD</button>
                    </div>

                </div>
               
                <!-- botones de cantidad -->
                <div class="content-cantidad">
                    <div>
                        <span class="txt-cantidad">Cantidad</span>
                    </div>
                    <div class="control-cantidad">
                        <button class="contadorDown" >-</button>
                        <input class="cantidadInput"type="number" min="0" value="0">
                        <button class="contadorUp" (click)="contadorSum()">+</button>
                    </div>
                </div>
                <!-- fin de botones de cantidad -->
                <div class="añadirCarrito">
                    <button class="btn-añadir">Añadir al carrito</button>
                </div>
                <div class="content-descripcion">
                    <div class="tlt-descripcion">
                        Descripcion
                    </div>
                    <div class="txt-descripcion">
                        <p>In eu blandit metus. Phasellus vitae consequat augue. Cras auctor lacus a purus convallis... </p>
                    </div>
                    <div class="txt-descripcion-leerMas">
                        <a for="">LEER MÁS</a>
                    </div>
                </div>
                <div class="Content-sugerido">
                    <h5 class="tlt-sugerido">También te podría gustar</h5>
                    <div class="list-sugeridos">
                        <div class="producto-sugerido">
                                <img class="img-producto-sugerido" src="../../../assets/img/shop/product/product.jpg" alt="">
                                    <div class="ttl-producto-sugerido">
                                        <span>Producto 1</span>
                                    </div>
                                    <div class="coste-producto-sugerido">
                                        <span>$130</span>
                                    </div>
                            </div>
                            <div class="producto-sugerido">
                                <img class="img-producto-sugerido" src="../../../assets/img/shop/product/product.jpg" alt="">
                                    <div class="ttl-producto-sugerido">
                                        <span>Producto 1</span>
                                    </div>
                                    <div class="coste-producto-sugerido">
                                        <span>$130</span>
                                    </div>
                            </div>
                            <div class="producto-sugerido">
                                <img class="img-producto-sugerido" src="../../../assets/img/shop/product/product.jpg" alt="">
                                    <div class="ttl-producto-sugerido">
                                        <span>Producto 1</span>
                                    </div>
                                    <div class="coste-producto-sugerido">
                                        <span>$130</span>
                                    </div>
                            </div>
                        

                    </div>
                </div>
    </div>
    <div>
        <footer class="pie-page">
   
        </footer>
   </div>
</div>
