<div class="topnav" id="myTopnav">
    <img src="../../../assets/img/shop/menu/logo_product.svg" alt="">
     <ul>
         
        
         <li><a href=""><img src="../../../assets/img/shop/menu/search.svg" alt=""></a></li>
         <li><a href=""><img src="../../../assets/img/shop/menu/heart.svg" alt=""></a></li>
         <li><a href=""><img src="../../../assets/img/shop/menu/bag.svg" alt=""></a></li>
         <li><a href=""><img src="../../../assets/img/shop/menu/menu_product.svg" alt=""></a></li>
         
       </ul>
   </div>
 